<!doctype html>
<html lang="en">
<head>
	<title>collage prediction.com2</title>
	<link rel="stylesheet" type="text/css" href="../static/css/ui1.css">
	<style type="text/css">
	.red {color:red;}
	.green {color:green;}
	</style>
</head>

<body>
	<header>
		<div class="logo">
			<img src="../static/logo.png" alt="predict collage" title="predict collage">
			
			
		</div>
		
	</header>
	
	<nav>
			
			
	</nav>
	
	


<div class="filter"></div>
        <div class="container">
           <h1>Sign Up</h1>
            <form>
                <label>Username</label><br>
                <input type="text"><br>
                <label>Password</label><br>
                <input type="password"><br>
				<label>Confirm Password</label><br>
                <input type="password"><br>
                <button>Log in</button>
            </form>
        </div>
	
</body>
</html>
