<!doctype html>
<html lang="en">
<head>
	<title>collage prediction.com3</title>
	<link rel="stylesheet" type="text/css" href="../static/css/ui3.css">
	<style type="text/css">
	.red {color:red;}
	.green {color:green;}
	</style>
</head>

<body>
	<header>
		<div class="logo">
			<img src="../static/logo.png" alt="predict collage" title="predict collage">
			
			
		</div>
		
	</header>
	
	<nav>
			
			
	</nav>
	
	<div id="bg"></div>
	


<div class="filter"></div>
        <div class="container">
           <h1>Collage predictor</h1>
            <form>
                <label>Board's Percentage</label><br>
                <input type="text"><br>
                <label>JEE Mains Score</label><br>
                <input type="text"><br>
				<label>JEE Advanced Score</label><br>
                <input type="text"><br>
				 <label>BITS Score</label><br>
                <input type="text"><br>
				 <label>SRMJEE Score</label><br>
                <input type="text"><br>
				 <label>VITEEE Score</label><br>
                <input type="text"><br>
				<button>Submit</button>
               
            </form>
        </div>
	
</body>
</html>
