<!doctype html>
<html lang="en">
<head>
	<title>collage prediction.com4</title>
	<link rel="stylesheet" type="text/css" href="../static/css/ui4.css">
	<style type="text/css">
	.red {color:red;}
	.green {color:green;}
	</style>
</head>

<body>
	<header>
		<div class="logo">
			<img src="../static/logo.png" alt="predict collage" title="predict collage">
			
			
		</div>
		
	</header>
	
		
  <nav>
  
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="#">Home <span class="sr-only"></span></a>
      <a class="nav-link" href="#">About Us</a>
      <a class="nav-link" href="#">Log Out</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
			
	
	
	<div class="background">
  <div class="transbox">
     <h1>About Us</h1>
    <p>This is some text that is placed in the transparent box.hdiuijdoihdoiosdknudhijadnkjhadiouhaojdnasknkasjniaudhiwajdnoiehdoiheijksjbjhbjhvcd</p>
    <p>This is some text that is placed in the transparent box.hdiuijdoihdoiosdknudhijadnkjhadiouhaojdnasknkasjniaudhiwajdnoiehdoiheijksjbjhbjhvcd</p>
	<p>This is some text that is placed in the transparent box.hdiuijdoihdoiosdknudhijadnkjhadiouhaojdnasknkasjniaudhiwajdnoiehdoiheijksjbjhbjhvcd</p>
    <p>This is some text that is placed in the transparent box.hdiuijdoihdoiosdknudhijadnkjhadiouhaojdnasknkasjniaudhiwajdnoiehdoiheijksjbjhbjhvcd</p>
 
  </div>
</div>



</body>
</html>
